@model Projet_AEA_UIL.Models.ConnexionClient


@{
    ViewBag.Title = "Connexion Client";
}

<h2>Connexion</h2>

@using (Html.BeginForm("VerificationConnexion", "Account", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailClient)
                <input type="text" name="reportEmail" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdPClient)
                <input type="text" name="reportMdPClient" />
            </th>
        </tr>
    </table>
    <input type="submit" value="Se connecter"/>
}
@*Ajouter un form qui accepte la connexion sur le compte et renvoie la page de profil du client + le formulaire voyageur.*@