@model Projet_AEA_UIL.Models.FormDossier

@{
    ViewBag.Title = "CreationDossier";
}

<h2>CreationDossier</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbVoyageurs)
        </th>
        <th></th>
    </tr>
</table>