
@{
    ViewBag.Title = "Index";
}

<h4>Sélectionnez votre voyage :</h4>
<br />
<div>
    <select id="cont1" name="Continent" required>
        <option id="0" value="">--Choisissez votre Continent--</option>
    </select>
</div>
<div>
    <select id="pay1" name="Pays">
        <option id="0" value="">--Choisissez votre Pays--</option>
    </select>
</div>
<div>
    <select id="reg1" name="Région">
        <option id="0" value="">--Choisissez votre Région--</option>
    </select>
</div>
<div>
    <select id="voy1" name="Voyage">
        <option id="0" value="">--Choisissez votre Voyage--</option>
    </select>
</div>

<div id="detail">
    <div id="idVoy"></div>
    <div id="textDetail"></div>
    <div id="dateDépart"></div>
    <div id="dateRetour"></div>
    <div id="prix"></div>

</div>


@section scripts{
    @*Exécution des appels Ajax (fichier ChoixVoyage.js) pour récupérer les listes de continents, pays, région et voyage avec leur détails.*@
}

@Html.ActionLink("Réserver", "Reserver", "Home")

