
@{
    ViewBag.Title = "Index";
}

<h2>Espace personnel du client</h2>

<ul>
    <li><a href="~/EspaceClient/infos">Gestion des informations personnelles</a></li>
    <li><a href="~/EspaceClient/annulerCommande">Annuler une commande en cours</a></li>
</ul>