
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<select id="conti">
    <option value="-1">Choisissez un continent</option>
</select>
<br />
<select id="pays">
    <option value="-1">Choisissez un pays</option>
</select>
<table class="table"></table>
@section scripts{
    <script>
        $.ajax({
            type: 'GET',
            url: 'http://localhost:49964/api/Continent',
            success: function (data) {
                $(data).each(function () {
                    $('#conti').append('<option value="' + this.ContinentID + '">' + this.LibelleContinent + '</option>')
                })
            },
            error: function (xhr, err, msg) {
                alert('Chargement des continents impossible');
            }
        });
     
        $.ajax({
            type: 'GET',
            url: 'http://localhost:49964/api/Pays',
            success: function (data) {
                $(data).each(function () {
                    $('#pays').append('<option value="' + this.PaysID + '">' + this.LibellePays + '</option>');
                })
            },
            error: function (xhr, err, msg) {
                alert('Chargement des continents impossible');
            }
        });

    </script>
}
